solr8/mycores/gnm_index/data
solr8/mycores/nrm_index/data

solr8/logs/*


.DS_Store
*/target/
*/nb-configuration.xml


/specify-data-model/*
/solr-index-builder/*

sample.json
*.properties

certs/*.crt
certs/*.key
project-initdata_local.yml

notes
/dina-data-jpa-slim/nbproject/
/dina-datamodel-slim/nbproject/
/specify-data-service/nbproject/